
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
#parse("content/importBase.vm")
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
#preview>img {
	width: 50%;
	height: 170px;
}

.speed_box {
	width: 400px;
	height: 20px;
	display: none;
	margin-top: 7px;
	border: 1px solid #0091f2;
	border-radius: 10px;
	overflow: hidden;
}

.speed_box1 {
	width: 400px;
	height: 20px;
	display: none;
	margin-top: 7px;
	border: 1px solid #0091f2;
	border-radius: 10px;
	overflow: hidden;
}

#speed {
	width: 0;
	height: 100%;
	background: #0091f2;
	color: white;
	text-align: center;
	line-height: 20px;
	font-size: 16px;
}

#speed1 {
	width: 0;
	height: 100%;
	background: #0091f2;
	color: white;
	text-align: center;
	line-height: 20px;
	font-size: 16px;
}
</style>
</head>
<body style="width: 100%; height: 100%;">
	<div id="page-wrapper">
		<!--BEGIN TITLE & BREADCRUMB PAGE-->
		<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
			<div class="page-header pull-left">
				<div class="page-title">App版本更新</div>
			</div>
			<ol class="breadcrumb page-breadcrumb pull-right">
				<li><i class="fa fa-home"></i>&nbsp;<a href="#">App版本更新</a></li>
			</ol>

			<div class="clearfix"></div>
		</div>

		<div style="margin-top: 2%;" id="a">
			<label class="col-sm-1 control-label"
				style="text-align: right; margin-top: 5px">版本号：</label>
			<div class="col-sm-1">
				<div class="control-group">
					<input type="text" class="form-control" id="VERSION_NUM" name="VERSION_NUM"
						maxlength="32" />
				</div>
			</div>
			<label class="col-sm-1 control-label"
				style="text-align: right; margin-top: 5px">操作系统：</label>
			<div class="col-sm-1">
				<div class="control-group">
					<select class="form-control" id="VERSION_TYPE" name="VERSION_TYPE">
						<option selected="selected" value="">请选择</option>
						<option value="ANDROID">安卓</option>
						<option value="IOS">IOS</option>
					</select>
				</div>
			</div>
			<label class="col-sm-1 control-label"
				style="text-align: right; margin-top: 5px">状态：</label>
			<div class="col-sm-1">
				<div class="control-group">
					<select
						class="form-control" id="STATUS" name="STATUS">
						<option selected="selected" value="">请选择</option>
						<option value="UNABLED" >失效</option>
						<option value="ENABLED">正常</option>
					</select>
				</div>
			</div>
		</div>

		<div>
			<button id="exportBtn" style="float: right; margin-right: 2%;"
				class="export-excel btn btn-default" data-table="#mytab">导出表格</button>
		</div>
		<div>
			<input type="button" onclick="clean()" class="btn btn-danger"
				name="Name" id="search_tel" value="清空"
				style="float: right; margin-right: 2%;" />
		</div>
		<div>
			<input type="button" onclick="sorce()" class="btn btn-info"
				name="Name" id="search_tel" value="查询"
				style="float: right; margin-right: 2%;" />
		</div>
		<div>
			<input type="button" onclick="showallmodal('myModal','show')"
				class="btn btn-success" name="Name" id="search_tel" value="添加"
				style="float: right; margin-right: 2%;" />
		</div>

		<!--END TITLE & BREADCRUMB PAGE-->
		<!--BEGIN CONTENT-->
		<table id="mytab" class="table table-hover">
		</table>
		<div class="modal fade" id="myModal" data-backdrop="static"
			tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">添加版本</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" role="form" id="themeform"
							name="themeform" enctype="multipart/form-data" method="post">
							<div class="form-group">
								<label for="lastname" class="col-sm-2 control-label">版本号：</label>
								<div class="col-sm-8">
									<input type="hidden" id="id" name="id" value="0" /> <input
										type="text" name="versionNum" id="versionNum"
										class="form-control" value="" maxlength="32" required />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"
									style="text-align: right; margin-top: 5px">操作系统：</label>
								<div class="col-sm-3">
									<div class="control-group">
										<select class="form-control" id="versionType"
											name="versionType">
											<option value="ANDROID" selected="selected">安卓</option>
											<option value="IOS">IOS</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"
									style="text-align: right; margin-top: 5px">状态：</label>
								<div class="col-sm-3">
									<div class="control-group">
										<select class="form-control" id="status" name="status">
											<option value="UNABLED" selected="selected">失效</option>
											<option value="ENABLED">正常</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"
									style="text-align: right; margin-top: 5px">下载链接：</label>
								<div class="col-sm-8">
									<div class="control-group">
										<input type="text" name="downloadUrl" id="downloadUrl"
										class="form-control" value="" maxlength="255" required />
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"
									style="text-align: right; margin-top: 5px">更新说明：</label>
								<div class="col-sm-3">
									<div class="control-group">
										<textarea rows="5" cols="55" name="memo" id="memo"></textarea>
									</div>
								</div>
							</div>
							
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" id="submitReply" class="btn btn-primary"
							onclick="submittheme()">确定</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript">
	
	//修改——转换日期格式(时间戳转换为datetime格式)
	function formatDateTime(inputTime) {
		var date = new Date(inputTime);
		var y = date.getFullYear();
		var m = date.getMonth() + 1;
		m = m < 10 ? ('0' + m) : m;
		var d = date.getDate();
		d = d < 10 ? ('0' + d) : d;
		var h = date.getHours();
		h = h < 10 ? ('0' + h) : h;
		var minute = date.getMinutes();
		var second = date.getSeconds();
		minute = minute < 10 ? ('0' + minute) : minute;
		second = second < 10 ? ('0' + second) : second;
		return y + '-' + m + '-' + d + ' ' + h + ':' + minute + ':' + second;
	}

	
	//新建或更新书籍 
	function submittheme() {

		$("form[name='themeform']").ajaxSubmit(
				{
					type : "post",
					url : ($("#id").val() == "0") ? "addVersion.do"
							: "updateVersion.do",
					dataType : "json",
					contentType : "multipart/form-data; charset=utf-8",
					success : function(data) {
						if (!data.success) {
							alert(data.message);
							return false;
						} else {
							alert(data.message);
							//做一次缓存清除 防止多次修改出现的BUG
							claenmyModal();
							window.location.reload(true);
						}

					},
					error : function(e) {
						alert("异常!");
						//$(".loading").css("display","none");
					}

				});
	}
	
	function claenmyModal() {
		$("#myModal input").val("");
	}
	
	function clean() {
		$("#a input").val("");
	}
	function sorce() {
		$('#mytab').bootstrapTable("selectPage", 1);
	}
	var all;
	//生成用户数据
	$('#mytab')
			.bootstrapTable(
					{
						method : 'post',
						contentType : "application/x-www-form-urlencoded",//必须要有！！！！
						url : "selectAppVersion.do",//要请求数据的文件路径
						dataType : 'json',
						striped : true, //是否显示行间隔色
						pageNumber : 1, //初始化加载第一页，默认第一页
						pageSize : 10,//单页记录数
						pageList : [ -1, 10, 30, 50, 100 ],//分页步进值
						pagination : true,//是否分页
						queryParamsType : 'limit',//查询参数组织方式
						sidePagination : 'server',//指定服务器端分页
						queryParams : function(p) {
							return params(p);
						},
						exportDataType : "all",
						exportTypes : [ 'excel' ], //导出文件类型
						Icons : 'glyphicon-export',
						clickToSelect : true,//是否启用点击选中行
						toolbarAlign : 'right',//工具栏对齐方式
						buttonsAlign : 'right',//按钮对齐方式
						toolbar : '#toolbar',//指定工作栏
						columns : [
								{
									title : '版本号',
									field : 'VERSION_NUM'
								},
								{
									title : '系统',
									field : 'VERSION_TYPE'
									
								},
								{
									title : '状态',
									field : 'STATUS',
									formatter : function(value, row, index) {
										if (value == "ENABLED")
											return "正常";

										if (value != "ENABLED")
											return "失效";
									}
								},
								{
									title : '下载链接',
									field : 'DOWNLOAD_URL',
								},
								{
									title : '更新说明',
									field : 'MEMO',
								},
								{
									title : '更新时间',
									field : 'GMT_MODIFIED',
									formatter : function(value, row, index) {
										return formatDateTime(value);
									}
								},
								{
									title : '操作',
									field : 'ID',
									formatter : function(value, row, index) {
										return "<a href='#' onclick=updateshowbanner('"
												+ index
												+ "')>修改</a>   |  "
												+ "<a href='#' onclick=deleteVersion('"
												+ value + "')>删除</a>";
									}
								}
								 ],
						locale : 'zh-CN',//中文支持,
						responseHandler : function(res) {
							//在ajax获取到数据，渲染表格之前，修改数据源
							all = res.rows;
							return res;
						}
					})

	//显示书籍添加框
	function showallmodal(id, type) {
		document.getElementById('myModalLabel').innerHTML = "添加版本";
		$("#myModal input").val("");
		$("#myModal textarea").val("");
		$("#id").val("0");
		$("#versionType").val("ANDROID");
		$("#status").val("UNABLED");
		$("#" + id).modal(type);
	}
	
	
	//显示书籍修改框 
	function updateshowbanner(number) {
		document.getElementById('myModalLabel').innerHTML = "修改版本";
		// 		$("#myModalLabel").innerHTML="修改书籍";
		$("#id").val(all[number].ID);
		$("#versionNum").val(all[number].VERSION_NUM);
		$("#versionType").val(all[number].VERSION_TYPE);
		$("#status").val(all[number].STATUS);
		$("#downloadUrl").val(all[number].DOWNLOAD_URL);
		$("#memo").val(all[number].MEMO);
		$("#myModal").modal("show");
	}
	//获取搜索的所有值
	function params(params) {
		$("input[type='text']").each(function() {
			params[$(this).attr("id")] = $(this).val();
		});
		$("select").each(function() {
			params[$(this).attr("id")] = $(this).val();
		});
		return params;
	}
	
	//删除书籍 
	function deleteVersion(id) {
		if (confirm("确认删除该内容？")) {
			jQuery.ajax({
				url : "deleteVersion.do",
				type : 'post',
				data : {
					"id" : id
				},
				dataType : 'json',
				success : function(json) {
					if (!json.success) {
						alert(json.message);
						return false;
					} else {
						alert(json.message);
						$("#mytab").bootstrapTable('refresh');
					}
				},
				error : function() {
					alert("异常！");
				}
			});
		}
	}
	
</script>
<script type="text/javascript">
	$(function() {// 初始化内容
		TableExport.init();
	});
</script>

</html>