<!DOCTYPE html>
<html style="height: 100%">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<script src="js/ECharts/echarts.js"></script>
<script src="js/jquery-1.10.2.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="height: 100%; margin: 0">
	<div id="page-wrapper" style="height: 100%;margin-left: 160px;background:#FFF; color:#FFF"></div>
	<script type="text/javascript">
		var dom = document.getElementById("page-wrapper");
		var myChart = echarts.init(dom);
		var app = {};
		option = null;
		app.title = '区域数据统计';

		option = {
			title : {
				text : '区域数据统计',
				x : 'center'
			},
			backgroundColor : '#FFFFFF',//背景色
			color : [ '#3398DB' ],
			tooltip : {
				trigger : 'axis',
				axisPointer : { // 坐标轴指示器，坐标轴触发有效
					type : 'shadow' // 默认为直线，可选为：'line' | 'shadow'
				}
			},
			grid : {
				left : '8%',
				right : '4%',
				bottom : '3%',
				containLabel : true
			},
			xAxis : [ {
				type : 'category',
				data : [ ],
				axisTick : {
					alignWithLabel : true
				}
			} ],
			yAxis : [ {
				type : 'value'
			} ],
			series : [ {
				name : '数量',
				type : 'bar',
				barWidth : '60%',
				data : [ ]
			} ]
		};

		jQuery.ajax({
			url : "selectaddress.do",
			type : 'post',
			success : function(data) {
				
				myChart.setOption({
					xAxis : [ {

						data : data.name

					} ],
					series : [ {

						data : data.value
					} ]
				});
			},
			error : function() {
				alert("异常！");
			}
		});

		;
		if (option && typeof option === "object") {
			myChart.setOption(option, true);
		}
	</script>
</body>
</html>